/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* poppins-devanagari-300-normal*/
/*@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.form-group {
    margin-bottom: 1.2rem;
}
.form-container {
    margin-top: 1.8rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav a {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
.navbar-nav a {
    padding-right: 0;
    padding-left: 0;
    color:rgba(0,0,0,.5);
}
.navbar-nav a {
    display: block;
    padding: .5rem 1rem;
}
.navbar-light .navbar-nav a:focus, .navbar-light .navbar-nav a:hover {
    color: rgba(0,0,0,.7);
}

.hide-form {
    display: none;
}

.content-full {width: 100% !important; padding:0 !important;}

.ico-wallet {
    width: 100px;
    height: 100px;
    margin:0 auto;
    margin-top: 25px;
}

.MuiCardContent-root h2 {
    text-align: center;
    display: block;
}

.MuiButton-containedPrimary:hover {
    color:#fff;
}
.MuiCircularProgress-colorSecondary {
    top:40%;
    left:40%;
    position: absolute;
}
.aiWrapper {
    display: none;
}
.card-wallet .MuiTypography-colorTextSecondary {
    text-align: center;
}

.alert {
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.alert-success {
  background-color: #91cf91;
  border-color: #80c780;
  color: #3d8b3d;
}
.alert-warning {
  /*background-color: #ebc063;*/
  border-color: #e8b64c;
  color: #a07415;
}
.alert-danger {
  background-color: #e27c79;
  border-color: #dd6864;
  color: #9f2723;
}
.alert p {
  padding: 0;
  margin: 0;
}
.alert i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 24px;
}
.alert .close-alert {
  -webkit-appearance: none;
  position: relative;
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.alert .close-alert:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.shadow-1, .alert {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .alert:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.alert a {
  text-decoration: underline;
}
button:focus {
  outline: none !important;
}

.transactionDate,
.MuiListItemText-primary {
  font-size: 28px !important;
}

.transactionDate {float: left; font-size: 2.6rem !important; 
  font-weight: 300 !important;
  color:rgba(0,0,0,.5) !important;
  
}
.transactionData {float: left; margin-left: 15px; margin-top: .5rem}
.transactionCategory,
.transactionDateDetails {
  float: left;
  clear: both;
}
.transactionCategory {font-size: 1.2rem}
.transactionDateDetails  {font-size:.75rem; color: rgba(0,0,0,.5); margin-top: -5px;}

.amountExpense {
  color:#e51c23!important;
}
.amountIncome {
  color:#039be5!important;
}
.currencyPeso {
  content: "\20B1";
}
.transactionAmount {font-size:1.25rem;}